# DSCI 100 Group Project Report

## Predicting Prize Money for Male Tennis Players

In [12]:
library(tidyverse)
library(tidymodels)
library(readr)
options(repr.matrix.max.rows = 6)

In [22]:
url <- "https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS"

player_stats <- read_csv(url)

#Fixed titles and changed the types
player_stats <- player_stats |>
    rename_all(~ gsub(" ", "_", .)) 

player_stats_tidy <- player_stats |> 
    select(Age, Current_Rank, Best_Rank, Seasons, Titles, Weeks_at_No._1, Current_Elo_Rank, Best_Elo_Rank, Prize_Money)

player_stats_tidy

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Age             Current_Rank Best_Rank        Seasons Titles Weeks_at_No._1
1   26 (25-04-1993) 378 (97)     363 (04-11-2019) NA      NA     NA
2   18 (22-12-2001) 326 (119)    316 (14-10-2019) NA      NA     NA
3   32 (03-11-1987) 178 (280)    44 (14-01-2013)  14      NA     NA
⋮   ⋮               ⋮            ⋮                ⋮       ⋮      ⋮
498 23 (14-03-1996) 495 (60)     342 (05-08-2019) NA      NA     NA
499 24 (17-05-1995) 419 (81)     419 (20-01-2020) NA      NA     NA
500 22 (26-03-1997) 451 (69)     408 (24-12-2018)  2      NA     NA
    Current_Elo_Rank Best_Elo_Rank   Prize_Money
1   NA               NA              NA
2   NA               NA              $59,040
3   144 (1764)       60 (06-02-2012) US$3,261,567
⋮   ⋮                ⋮               ⋮
498 NA               NA              NA
499 NA               NA              NA
500 NA               NA              $61,984

In [23]:
#Harman

# Age, Current_Rank, Best_Rank

In [24]:
#Ramdeep

# Seasons

In [25]:
#Nicolas

# Current_Elo_Rank, Best_Elo_Rank

In [27]:
#Malkeet

# Titles, Weeks_at_No._1