# DSCI 100 Group Project Report

## Predicting Prize Money for Male Tennis Players

In [12]:
library(tidyverse)
library(tidymodels)
library(readr)
options(repr.matrix.max.rows = 6)

In [32]:
url <- "https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS"

player_stats <- read_csv(url)

#Fixed titles and changed the types
player_stats <- player_stats |>
    rename_all(~ gsub(" ", "_", .)) 

head(player_stats)

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ...1 Age             Country            Plays        Wikipedia Current_Rank
1 0    26 (25-04-1993) Brazil             Right-handed Wikipedia 378 (97)
2 1    18 (22-12-2001) United Kingdom     Left-handed  Wikipedia 326 (119)
3 2    32 (03-11-1987) Slovakia           Right-handed Wikipedia 178 (280)
4 3    21 (29-05-1998) Korea, Republic of Right-handed Wikipedia 236 (199)
5 4    27 (21-10-1992) Australia          Right-handed Wikipedia 183 (273)
6 5    22 (11-02-1997) Poland             Right-handed Wikipedia 31 (1398)
  Best_Rank        Name                 Backhand   Prize_Money  ⋯ Facebook
1 363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯ NA
2 316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯ NA
3 44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯ NA
4 130 (10-04-2017) Duck Hee Lee         Two-handed $374,093     ⋯ NA
5 17 (11-01-2016)  Bernard Tomic        Two-handed US$6,091,971 ⋯ NA
6 31 (20-01-2020)  Hubert Hurkacz       Two-handed $1,517,157   ⋯ NA
  Twitter Nicknames Grand_Slams Davis_Cups Web_Site Team_Cups Olympics
1 NA      NA        NA          NA         NA       NA        NA
2 NA      NA        NA          NA         NA       NA        NA
3 NA      NA        NA          NA         NA       NA        NA
4 NA      NA        NA          NA         NA       NA        NA
5 NA      NA        NA          NA         NA       NA        NA
6 NA      NA        NA          NA         NA       NA        NA
  Weeks_at_No._1 Tour_Finals
1 NA             NA
2 NA             NA
3 NA             NA
4 NA             NA
5 NA             NA
6 NA             NA

In [33]:
player_stats_weeks_at_1 <- player_stats |> 
    select(Age, Current_Rank, Best_Rank, Seasons, Titles, Weeks_at_No._1, Current_Elo_Rank, Best_Elo_Rank, Prize_Money) |>
    filter(!is.na(Weeks_at_No._1))

player_stats_weeks_at_1

  Age             Current_Rank Best_Rank      Seasons Titles Weeks_at_No._1
1 33 (03-06-1986) 1 (10235)    1 (18-08-2008) 19       84    208
2 32 (22-05-1987) 2 (9720)     1 (04-07-2011) 17       77    275
3 32 (15-05-1987) 128 (422)    1 (07-11-2016) 15       46     41
4 38 (08-08-1981) 3 (6590)     1 (02-02-2004) 22      103    310
  Current_Elo_Rank Best_Elo_Rank
1 1 (2406)         1 (16-06-2008)
2 2 (2390)         1 (21-03-2011)
3 7 (2185)         2 (19-04-2009)
4 3 (2328)         1 (11-08-2003)
  Prize_Money
1 US$119,601,561
2 US$ 139,144,944 All-time leader in earnings
3 US$ 61,544,007 4th all-time leader in earnings
4 $ 129,231,891 2nd all-time leader in earnings

Can't use Weeks_at_No._1 :(

In [23]:
#Harman

# Age, Current_Rank, Best_Rank

In [24]:
#Ramdeep

# Seasons

In [25]:
#Nicolas

# Current_Elo_Rank, Best_Elo_Rank

In [27]:
#Malkeet

# Titles, Weeks_at_No._1