In [5]:
library(tidyverse)
library(repr)
library(rvest)
library(stringr)
options(repr.matrix.max.rows = 6)
source("tests.R")
source("cleanup.R")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding


Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [12]:
puslar_star <- read_csv("HTRU_2.csv", col_names = FALSE)

puslar_star

Rows: 17898 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (9): X1, X2, X3, X4, X5, X6, X7, X8, X9

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      X1       X2       X3         X4          X5         X6       X7
1     140.5625 55.68378 -0.2345714 -0.6996484  3.199833   19.11043  7.975532
2     102.5078 58.88243  0.4653182 -0.5150879  1.677258   14.86015 10.576487
3     103.0156 39.34165  0.3233284  1.0511644  3.121237   21.74467  7.735822
⋮     ⋮        ⋮        ⋮          ⋮           ⋮          ⋮        ⋮
17896 119.3359 59.93594 0.1593631  -0.74302540  21.430602 58.87200  2.499517
17897 114.5078 53.90240 0.2011614  -0.02478884   1.946488 13.38173 10.007967
17898  57.0625 85.79734 1.4063910   0.08951971 188.306020 64.71256 -1.597527
      X8         X9
1      74.24222  0
2     127.39358  0
3      63.17191  0
⋮     ⋮          ⋮
17896   4.595173 0
17897 134.238910 0
17898   1.429475 0